/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
 HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




img{
width:100%;
}







.logo {
    width: 150px;
    height: 80px;
    background-image: url(picture/logo_Artmoney-01.svg);
    position: absolute;
    top: 2px;
    left: 50%;
    margin-left: -75px;
    z-index: 1;
}




.shopping {
    width: 80px;
    height: 80px;
    background-image: url(picture/icon-Shopping_Bag-01.svg);
    position: absolute;
    top: 0px;
    left: 100%;
    margin-left: -80px;
    z-index: 1;
}








nav{
z-index: 1;
}

.navbar-dark {
margin-top: 85px;
}


.index {
opacity: 0.7;
}


.navbar-dark a:visited{
color: #fff !important;
}

.navbar-dark a{
color: #fff !important;
}

.navbar-dark a:hover {
color: #ccc !important;
}



.btn.btn-square {
  border-radius: 0;
}

.breadcrumb-item a{
color: #ccc;
}





/* call to action video */

.videocontainer{
    position: relative;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 30px;}

#endcredits{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);}



#endcredits p{
padding: 15px;
color: #fff;
}


#endcreditsbutton{
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 15px;}

#annotation{
    text-align: center;
    background-color: yellow;
    width: 100%;
    color: green;}

/* call to action video */










body {
  font-family: roboto;
  font-weight: 300;
  line-height: 1.45;

}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
    margin: 1.414em 0 0.5em;
    font-weight: inherit;
    line-height: 1.2;
    font-family: roboto;
}

h1 {
  margin-top: 0;
  font-size: 5.063em;
}

h2 {font-size: 3.375em;}

h3 {font-size: 2.25em;}

h4 {font-size: 1.5em;}

small, .font_small {font-size: 0.667em;}




/* Global Styles */



html,body {
color:#fff;
height:100%;

}


/* Video Overlay */

#overlay {
background-color:rgba(0,0,0,.3);
height:100%;
left:0;
position:relative;
top:0;
}




/* Hero Video + Fallback */

#hero-vid {
background-size:cover;
bottom: 0;
height:120%;
min-height:100%;
min-width:100%;
perspective:1000;
position:fixed;
z-index:-1;
}

#hero-pic {
display:block;
width:100%;
}




/* Content Styles text on index page */

#title {
backface-visibility:hidden;
left:0;
text-align:right;
perspective:1000;
position:fixed;
width:100%;
}


#title p {
background-color:rgba(0,0,0,0.9);
font-family:"roboto";
font-size:1em;
text-align: right;
padding-top: 0.2em;
padding-bottom: 0.2em;
margin-bottom: 0em;
padding-left: 15px;
padding-right: 15px;
color:rgba(255,255,255,1);
letter-spacing: 1px;
}


.currency{
background-color:rgba(0,0,0,0.9);
font-family:"roboto";
font-size:1em;
text-align: right;
padding-top: 0.2em;
padding-bottom: 0.2em;
margin-bottom: 0em;
padding-left: 15px;
padding-right: 15px;
color:rgba(255,255,255,1);
letter-spacing: 1px;
}


#title .needcash {
padding-right: 1.6em;
}

#title .moto {
margin-top: 3em;
}

.campaign{
width: 400px;
height: 100px;
background-image: url(picture/campaign-01.svg);
position: relative;
z-index: 1;
left: 100%;
margin-left: -370px;
margin-top: -20px;
transform: scale(1);
transition: .4s;
}


.campaign:hover {
transform: scale(1.04);
}





.campaign_logo{
width: 400px;
height: 100px;
background-image: url(picture/campaign-logo-01.svg);
position: relative;
}


#content {
background-color:#151515;
padding:2em;
position:relative;
z-index:1;
text-align: center;
}

#content p {
font-size:1.25em;
letter-spacing:.02em;
margin-bottom:2em;
text-align: center;
}

#content h3 {
color: #fff;
}

#content a, a:visited {
color: #fff !important;
}

#content a:hover {
color: #999 !important;
}


.icon{
text-align: center;
margin-bottom: 30px;
}

.icon:hover img {
transform: scale(1.2);
}

.icon img {
transform: scale(1.04);
transform: scale(1);
transition: .4s;
}













footer{
background-color:#ccc;

position:relative;
color: #000;
}

footer a, a:visited {
color: #000 !important;
}

footer a:hover {
color: #999 !important;
}

footer h3 {
margin-top: 30px;
}


.after_footer {
background-color: #999;
padding-top: 13px;
padding-bottom: 0.5px;
padding-left: 15px;
padding-right: 15px;
color:#fff;
font-size: 20px;
}

.after_footer p, a {
color:#fff;
}

.after_footer a:hover, a:visited {
color:#ccc;
}


.paypal {
    width: 175px;
    height: 50px;
    background-image: url(picture/PayPal-01.svg);
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    }


.googlemap {
    width: 100px;
    height: 100px;
    background-image: url(picture/Google_Map-01.svg);
    position: relative;
    }


.googlemap_bw {
    width: 50px;
    height: 50px;
    background-image: url(picture/Google_Map-BW-01.svg);
    position: relative;
    margin-top: -15px;
    }

.social_media{
position: relative;
top: 0px;
}

.facebook{
width: 50px;
height: 44px;
background-image: url(picture/icon_Facebook-01.svg);
position: absolute;
}

.instagram{
width: 50px;
height: 44px;
background-image: url(picture/icon_Instagram-01.svg);
position: absolute;
left: 75px;
}

.pinterest{
width: 50px;
height: 44px;
background-image: url(picture/icon_Pinterest-01.svg);
position: absolute;
left: 150px;
}


.social_media_white{
position: relative;
top: -35px;
z-index: 1;
}

.facebook_white{
width: 25px;
height: 22px;
top: 0;
left: 100%;
margin-left: -80px;
background-image: url(picture/icon_Facebook_white-01.svg);
position: absolute;
}

.instagram_white{
width: 25px;
height: 22px;
top: 0;
left: 100%;
margin-left: -55px;
background-image: url(picture/icon_Instagram_white-01.svg);
position: absolute;
}

.pinterest_white{
width: 25px;
height: 22px;
top: 0;
left: 100%;
margin-left: -30px;
background-image: url(picture/icon_Pinterest-white-01.svg);
position: absolute;
}





.pagination a:hover {
color: #999 !important;
}

.pagination a, a:visited {
color: #ccc !important;
}






.image_account{
margin-top: 30px;
margin-bottom: 20px;
}

.text_account{
color: #000;
}

.text_account a, a:visited {
color: #000 !important;
}

.text_account a:hover {
color: #999 !important;
}

.description_account{
color: #000;
}

#evaluation{
margin-bottom: 0px;
}






.filter{
background-color: #ffffff;
padding: 20px;
color: #000;
}


.filter_part{
padding: 15px;
}

.button_filter{
background-color: white;
    border: solid .5pt;
    color: black;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0.5em;
}


.picture_description{
margin-top: 30px;
padding-bottom: 30px;
}


.picture_description h3{
margin-top: 0px;
}


.picture_description a, p, h3, li, dt, dd, h4{
color: #000;
}



.about_description a, p, h3{
color: #000;
}

.about_description h4{
margin-top: 0px;
}




.art_picture{
padding-top: 50px;
padding-bottom: 70px;
border-style: solid;
border: 1px;
}


.partner_logo{
width: 40%;
border: 1px solid #ccc;
padding: 10px;
margin-bottom: 15px;
}


.partners_description h4{
margin-top: 0px;
padding-top: 0px;
margin-bottom: 5px;
}

.partners_description a, a:visited, a:hover{
color: #999;
text-decoration:inherit;
}

.partners_description{
color: #000;
margin-left: -100px;
}

.partners{
margin-top: 15px;
margin-bottom: 15px;
}

.find_partners{
color: #000;
background-color: #e6e6e6;
margin-left: -15px;
margin-right: -15px;
padding: 15px;

}

.hs-responsive-embed-youtube {
position: relative;
padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
padding-top: 25px;
}


.hs-responsive-embed-youtube iframe {
position: absolute;
width: 100%!important;
height: 100%!important;
}


.text_home p{
color: #fff;
}


.data_text {
padding: 0px;
margin: 5px;
}


.text_signup{
text-align: center;
}

.signup{
color: #000;
text-align: center;
margin-top: 30px;
margin-bottom: 30px;
}

.data_artist{
color: #fff;
}

.data_date{
color: #fff;
}


dl dt{
margin-left: 15px;
margin-right: 15px;
}

.data_arttitle{
color: #fff;
}

.black_line{
height: 1px;
    background-color:#000;
    margin-top: 20px;
    margin-bottom: -20px;
}





















/* Media Queries Parallax */

@media only screen and (max-width:768px) {
    #overlay { height:auto; }
}


/* Visibility Helpers Parallax */

@media only screen and (min-width:769px) {
    .visible-mobile,.visible-tablet,.hidden-desktop { display:none !important; }
}

@media only screen and (min-width:480px) and (max-width:768px) {
    .visible-mobile,.hidden-tablet,.visible-desktop { display:none !important; }
}

@media only screen and (max-width:479px) {
    .hidden-mobile,.visible-tablet,.visible-desktop { display:none !important; }
}





